<!DOCTYPE html>
<html ng-app="scratch">
  <head>
    <meta charset="utf-8">
    <title>Scratch Space</title>
    <link rel="stylesheet" href="bower/bootstrap/dist/css/bootstrap.min.css">
    <script type="text/javascript" src="bower/angular/angular.min.js"></script>
    <script type="text/javascript" src="bower/angular-bootstrap/ui-bootstrap.min.js"></script>
    <script type="text/javascript" src="bower/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script type="text/javascript" src="bower/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script type="text/javascript" src="app/scratch.js"></script>
  </head>
  <body>
    <div id="main" class="container-fluid">

  		<!-- <div class="col-xs-2">
  			<sidebar></sidebar>
  		</div> -->

  		<div class="col-xs-10">
  			<ui-view></ui-view>
  		</div>

  		<!-- <footer></footer> -->

  	</div>
  </body>
</html>
