<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Scratch Space</title>
    <link rel="stylesheet" href="bower/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="build/scratch.css">
    <script type="text/javascript" src="bower/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="bower/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="app/scratch.js"></script>
  </head>
  <body>
    <div id="main">
      <div class="canvas-container">
        <canvas id="canvas" width="800" height="500"></canvas>
      </div>

  		<!-- <div class="col-xs-2">
  			<sidebar></sidebar>
  		</div> -->

  		<!-- <div class="col-xs-10">
  			<ui-view></ui-view>
  		</div> -->

  		<!-- <footer></footer> -->

  	</div>
  </body>
</html>
