@import "variables.scss";

html {
  height: 100%;
}

body {
  min-height: 100%;
  background-color: $background-color;
}

canvas {
  background-color: white;
}

.canvas-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
